<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<head>
	<meta charset="UTF-8">
	<title>Help</title>
</head>
<body>
<header th:replace="common/top"></header>


<div id="BackLink">
	<a href="main">Return to Main Menu</a>
</div>
<div id="Content">
<div id="Catalog">

<table>
	<tr>
		<th align="center" colspan="2" >
			<span th:text="'Order:'+${session.order.orderId}"></span>
		<span th:text="${#dates.format(session.order.orderDate,'yyyy/MM/dd hh:mm:ss')}">date</span>
		</th>
	</tr>
	<tr>
		<th colspan="2">Payment Details</th>
	</tr>
	<tr>
		<td>Card Type:</td>
		<td th:text="${session.order.cardType}" /></td>
	</tr>
	<tr>
		<td>Card Number:</td>
		<td th:text="${session.order.creditCard}" /> </td>
	</tr>
	<tr>
		<td>Expiry Date (MM/YYYY):</td>
		<td th:text="${session.order.exprdate}" /></td>
	</tr>
	<tr>
		<th colspan="2">Billing Address</th>
	</tr>
	<tr>
		<td>First name:</td>
		<td th:text="${session.order.billToFirstName}" /></td>
	</tr>
	<tr>
		<td>Last name:</td>
		<td th:text="${session.order.billToLastname}" /></td>
	</tr>
	<tr>
		<td>Address 1:</td>
		<td th:text="${session.order.billAddr1}" /></td>
	</tr>
	<tr>
		<td>Address 2:</td>
		<td th:text="${session.order.billAddr2}" /></td>
	</tr>
	<tr>
		<td>City:</td>
		<td th:text="${session.order.billCity}" /></td>
	</tr>
	<tr>
		<td>State:</td>
		<td th:text="${session.order.billState}" /></td>
	</tr>
	<tr>
		<td>Zip:</td>
		<td th:text="${session.order.billZip}" /></td>
	</tr>
	<tr>
		<td>Country:</td>
		<td th:text="${session.order.billCountry}" /></td>
	</tr>
	<tr>
		<th colspan="2">Shipping Address</th>
	</tr>
	<tr>
		<td>First name:</td>
		<td th:text="${session.order.shipToFirstname}" /></td>
	</tr>
	<tr>
		<td>Last name:</td>
		<td th:text="${session.order.shipToLastname}" /></td>
	</tr>
	<tr>
		<td>Address 1:</td>
		<td th:text="${session.order.shipAddr1}" /></td>
	</tr>
	<tr>
		<td>Address 2:</td>
		<td th:text="${session.order.shipAddr2}" /></td>
	</tr>
	<tr>
		<td>City:</td>
		<td th:text="${session.order.shipCity}" /></td>
	</tr>
	<tr>
		<td>State:</td>
		<td th:text="${session.order.shipState}" /></td>
	</tr>
	<tr>
		<td>Zip:</td>
		<td th:text="${session.order.shipZip}" /></td>
	</tr>
	<tr>
		<td>Country:</td>
		<td th:text="${session.order.shipCountry}" /></td>
	</tr>
	<tr>
		<td>Courier:</td>
		<td th:text="${session.order.courier}" /></td>
	</tr>
	<tr>
		<td colspan="2">
		<table>
			<tr>
				<th>Item ID</th>
				<th>Description</th>
				<th>Quantity</th>
				<th>Price</th>
				<th>Total Cost</th>
			</tr>
			<tr th:each="cartItem:${session.order.cartItems}" >
				<td th:text="${cartItem.item.itemId}">Item ID</td>
				<td th:text="${cartItem.item.attribute1}+${cartItem.item.product.name}">Description</td>
				<td th:text="${cartItem.quantity}">Quantity</td>
				<td th:text="'$'+${#numbers.formatDecimal(cartItem.item.listPrice,1,2)}"></td>
				<td th:text="'$'+${#numbers.formatDecimal(cartItem.total,1,2)}"></td>
			</tr>
			<tr th:text="'Total:  $'+${#numbers.formatDecimal(session.order.totalPrice,1,2)}"></tr>
		</table>
		</td>
	</tr>

</table>

</div>
</div>
<footer th:replace="common/bottom"></footer>
