<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/favicon.ico>
    <title>mypetstore</title>
    <link href=/css/chunk-248958b1.a4f9738a.css rel=prefetch>
    <link href=/js/about.ae72aa46.js rel=prefetch>
    <link href=/js/chunk-248958b1.f993ba0b.js rel=prefetch>
    <link href=/js/chunk-2d21de4f.1ff17e14.js rel=prefetch>
    <link href=/js/chunk-2d22bf82.9710dc65.js rel=prefetch>
    <link href=/css/app.7ce70b49.css rel=preload as=style>
    <link href=/css/chunk-vendors.5ad50e34.css rel=preload as=style>
    <link href=/js/app.c7ed95df.js rel=preload as=script>
    <link href=/js/chunk-vendors.c6d3644b.js rel=preload as=script>
    <link href=/css/chunk-vendors.5ad50e34.css rel=stylesheet>
    <link href=/css/app.7ce70b49.css rel=stylesheet>
</head>
<body>
<noscript><strong>We're sorry but mypetstore doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id=app></div>
<script src=/js/chunk-vendors.c6d3644b.js></script>
<script src=/js/app.c7ed95df.js></script>
</body>
</html>