<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/favicon.ico>
    <title>mypetstore</title>
    <link href=/css/chunk-6a9a6b62.a4f9738a.css rel=prefetch>
    <link href=/js/about.ae72aa46.js rel=prefetch>
    <link href=/js/chunk-2cd8bbd0.5f35bb85.js rel=prefetch>
    <link href=/js/chunk-2d0d7c19.353953c4.js rel=prefetch>
    <link href=/js/chunk-2d222708.ea861aa9.js rel=prefetch>
    <link href=/js/chunk-3f8fc0ab.6b13587c.js rel=prefetch>
    <link href=/js/chunk-6a9a6b62.14fb88ec.js rel=prefetch>
    <link href=/js/chunk-ee0ab150.7a36b80c.js rel=prefetch>
    <link href=/css/app.9a8af02c.css rel=preload as=style>
    <link href=/css/chunk-vendors.5ad50e34.css rel=preload as=style>
    <link href=/js/app.e4e80ef3.js rel=preload as=script>
    <link href=/js/chunk-vendors.c6d3644b.js rel=preload as=script>
    <link href=/css/chunk-vendors.5ad50e34.css rel=stylesheet>
    <link href=/css/app.9a8af02c.css rel=stylesheet>
</head>
<body>
<noscript><strong>We're sorry but mypetstore doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id=app></div>
<script src=/js/chunk-vendors.c6d3644b.js></script>
<script src=/js/app.e4e80ef3.js></script>
</body>
</html>